html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav {
    padding-top: 10px;
}

.wrapper {
    width: 1200px;
}

.left-pane {
    width: 50%;
    height: 90%l;
    float: left;
}

.right-pane {
    width: 50%;
    height: 90%;
    float: right;
}

.source-links {
    color: #b56969;
}

.nav-links {
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    margin: auto 30px;
}

.active-page {
    border-bottom: 5px solid black;
}

.title-container {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 40px;
    color: #22264b;
    width: 100%;
    text-align: left;
}

.text-container {
    height: 525px;
    font-family: 'Anton', sans-serif;
    text-align: left;
    overflow-y: auto;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 10px;
    border: 3px solid black;
}

#main-img-container {
    height: auto;
    width: auto;
}

#main-img-home {
    height: 80%;
    width: 80%;
    padding-left: 100px;
    padding-top: 60px;
}

#main-img-censor {
    height: 70%;
    width: 70%;
    padding-left: 100px;
    padding-top: 60px;
}

#bottom-nav-container {
    background-color: #fff;
    text-align: center;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
